<footer id="fh5co-footer" role="contentinfo">



    @*<div class="container text-center fh5co-social-container">
        <ul class="fh5co-social">
            <li><a href="#"><i class="ti-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="ti-twitter-alt"></i> Twitter</a></li>
            <li><a href="#"><i class="ti-dribbble"></i> Dribbble</a></li>
            <li><a href="#"><i class="ti-google"></i> GooglePlus</a></li>
            <li><a href="#"><i class="ti-instagram"></i> Instagram</a></li>
            <li><a href="#"><i class="ti-email"></i> Email us</a></li>
        </ul>
    </div>*@
    @*<div id="fh5co-footer-links">
        <div class="container">
            <div class="row">

                <div class="col-md-2 col-sm-3 col-xs-6 col-xxs-12 col-md-offset-1">
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Core Values</a></li>
                            <li><a href="#">Our Culture</a></li>
                            <li><a href="#">Capabilities</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Affilliates</a></li>
                            <li><a href="#">Our Clients</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6 col-xxs-12">
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Core Values</a></li>
                            <li><a href="#">Our Culture</a></li>
                            <li><a href="#">Capabilities</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Affilliates</a></li>
                            <li><a href="#">Our Clients</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-md-2 col-sm-3 col-xs-6 col-xxs-12">
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Core Values</a></li>
                            <li><a href="#">Our Culture</a></li>
                            <li><a href="#">Capabilities</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Affilliates</a></li>
                            <li><a href="#">Our Clients</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6 col-xxs-12">
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Core Values</a></li>
                            <li><a href="#">Our Culture</a></li>
                            <li><a href="#">Capabilities</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Affilliates</a></li>
                            <li><a href="#">Our Clients</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-2 col-sm-3 col-xs-6 col-xxs-12">
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Core Values</a></li>
                            <li><a href="#">Our Culture</a></li>
                            <li><a href="#">Capabilities</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Affilliates</a></li>
                            <li><a href="#">Our Clients</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div id="fh5co-copyright">
        <div class="container">
            <p class="text-center"><small>&copy; 2017. All Rights Reserved.</small></p>
            <p class="text-center">
                <a href="#top" class="smoothscroll back-to-top"><i class="ti-angle-double-up"></i><span>Top</span></a>
            </p>
        </div>
    </div>
</footer>