<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>阖家缘</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="~/wwwroot/favicon.ico" />

    <!-- Google Webfont -->
    <link href='http://fonts.useso.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />

    <!-- Bootstrap & Style -->

    <link href="~/wwwroot/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/magnific-popup.css" rel="stylesheet"  />
    <link href="~/wwwroot/css/owl.carousel.min.css" rel="stylesheet"  />
    <link href="~/wwwroot/css/owl.theme.default.min.css" rel="stylesheet"  />
    <link href="~/wwwroot/css/style.css" rel="stylesheet"  />

    <!-- Iconfonts -->
    <link href="~/wwwroot/css/themify-icons.css" rel="stylesheet"  />
    <link href="~/wwwroot/css/themify-icons.css" rel="stylesheet" />





</head>
<body id="outer-page">
    <script src="~/wwwroot/js/jquery-1.10.2.min.js"></script>
    <script src="~/wwwroot/js/jquery.easing.1.3.js"></script>
    <script src="~/wwwroot/js/bootstrap.js"></script>
    <script src="~/wwwroot/js/modernizr-2.6.2.min.js"></script>
    <script src="~/wwwroot/js/owl.carousel.min.js"></script>
    <script src="~/wwwroot/js/jquery.magnific-popup.min.js"></script>
    <script src="~/wwwroot/js/custom.js"></script>
    <link href="~/wwwroot/css/themify-icons.css" rel="stylesheet" />
    <div id="top"></div>
    <div id="fh5co-page">
        @{
            Html.RenderPartial("~/Views/_Base/_BaseElement.cshtml");
        }


        <header id="fh5co-header" role="banner">
            <div class="container">
                <a href="#" class="fh5co-header-bars js-nav-toggle"><span>Menu</span> <i class="ti-menu"></i></a>
                <h1 class="fh5co-header-intro">阖家缘大屏互动.</h1>
            </div>
        </header>
        <!-- /fh5co-header -->



        <main id="fh5co-main" role="main">
            <div class="container pb-lg">

                <div class="row">
                    <div class="col-md-12">
                        <div class="fh5co-heading text-center">
                            <h2 class="fh5co-heading-title">阖家缘怎么用？ <span class="border"></span></h2>
                            <!-- <h3 class="fh5co-heading-intro">Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints, engineering drawings, business processes, circuit diagrams and sewing patterns.</h3> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-main-service">
                            <!--
                            “Block-level” links in HTML5
                            http://html5doctor.com/block-level-links-in-html-5/
                             -->
                            <a href="#" class="fh5co-block-links text-center">
                                <div class="icon-circle">
                                    <i class="ti-settings"></i>
                                </div>
                                <h2>硬件需求</h2>
                                <p>1台电脑、1个大屏.</p>
                                <p><span class="learn-more">Learn more</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="fh5co-main-service">
                            <a href="#" class="fh5co-block-links text-center">
                                <div class="icon-circle">
                                    <i class="ti-ruler-pencil"></i>
                                </div>
                                <h2>主办方</h2>
                                <p>主办方设置大屏展示效果.</p>
                                <p><span class="learn-more">Learn more</span></p>
                            </a>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="fh5co-main-service">
                            <a href="#" class="fh5co-block-links text-center">
                                <div class="icon-circle">
                                    <i class="ti-mobile"></i>
                                </div>
                                <h2>参与者</h2>
                                <p>用手机扫码参与互动.</p>
                                <p><span class="learn-more">Learn more</span></p>
                            </a>
                        </div>

                    </div>

                </div>
                <!-- END .row -->
            </div>

            

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="fh5co-projects">
                            <div class="fh5co-heading text-center">
                                <h2 class="fh5co-heading-title">我们的成功案例 <span class="border"></span></h2>
                                <!-- <h3 class="fh5co-heading-intro">Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints, engineering drawings, business processes, circuit diagrams and sewing patterns.</h3> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END .row -->
            </div>

            <div class="fh5co-projects-wrap">
                <div class="effects">
                    <div class="owl-carousel">
                        <div class="item">

                            <div class="hover-img">
                                <figure>

                                    <img src="~/wwwroot/images/new/project_1.jpg" alt="Project Title here">
                                </figure>
                                <div class="fh5co-projects-overlay">
                                    <h3 class="from-top">跨国婚礼 <span class="category"></span></h3>
                                    <div class="fh5co-projects-action from-bottom">
                                        <a href="~/wwwroot/images/new/project_1.jpg" class="goto-preview image-popup"><i class="ti-zoom-in"></i></a>
                                        <a href="single-portfolio.html" class="goto-details"><i class="ti-share"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-img">
                                <figure>
                                    <img src="~/wwwroot/images/new/project_2.jpg" alt="Project Title here">
                                </figure>
                                <div class="fh5co-projects-overlay">
                                    <h3 class="from-top">跨国婚礼 <span class="category">弹幕祝福</span></h3>
                                    <div class="fh5co-projects-action from-bottom">
                                        <a href="~/wwwroot/images/new/project_2.jpg" class="goto-preview image-popup"><i class="ti-zoom-in"></i></a>
                                        <a href="single-portfolio.html" class="goto-details"><i class="ti-share"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="item">

                            <div class="hover-img">
                                <figure>
                                    <img src="~/wwwroot/images/new/project_3.jpg" alt="Project Title here">
                                </figure>
                                <div class="fh5co-projects-overlay">
                                    <h3 class="from-top">梦幻婚礼 <span class="category">弹幕祝福</span></h3>
                                    <div class="fh5co-projects-action from-bottom">
                                        <a href="~/wwwroot/images/new/project_3.jpg" class="goto-preview image-popup"><i class="ti-zoom-in"></i></a>
                                        <a href="single-portfolio.html" class="goto-details"><i class="ti-share"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-img">
                                <figure>
                                    <img src="~/wwwroot/images/new/project_4.jpg" alt="Project Title here">
                                </figure>
                                <div class="fh5co-projects-overlay">
                                    <h3 class="from-top">梦幻婚礼 <span class="category">摇一摇抽大奖</span></h3>
                                    <div class="fh5co-projects-action from-bottom">
                                        <a href="~/wwwroot/images/new/project_4.jpg" class="goto-preview image-popup"><i class="ti-zoom-in"></i></a>
                                        <a href="single-portfolio.html" class="goto-details"><i class="ti-share"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="item">

                            <div class="hover-img">
                                <figure>
                                    <img src="~/wwwroot/images/new/project_5.jpg" alt="Project Title here">
                                </figure>
                                <div class="fh5co-projects-overlay">
                                    <h3 class="from-top">梦幻婚礼 <span class="category">弹幕祝福</span></h3>
                                    <div class="fh5co-projects-action from-bottom">
                                        <a href="~/wwwroot/images/new/project_5.jpg" class="goto-preview image-popup"><i class="ti-zoom-in"></i></a>
                                        <a href="single-portfolio.html" class="goto-details"><i class="ti-share"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-img">
                                <figure>
                                    <img src="~/wwwroot/images/new/project_6.jpg" alt="Project Title here">
                                </figure>
                                <div class="fh5co-projects-overlay">
                                    <h3 class="from-top">梦幻婚礼 <span class="category">弹幕祝福</span></h3>
                                    <div class="fh5co-projects-action from-bottom">
                                        <a href="~/wwwroot/images/new/project_6.jpg" class="goto-preview image-popup"><i class="ti-zoom-in"></i></a>
                                        <a href="single-portfolio.html" class="goto-details"><i class="ti-share"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="item">

                            <div class="hover-img">
                                <figure>
                                    <img src="~/wwwroot/images/new/project_7.jpg" alt="Project Title here">
                                </figure>
                                <div class="fh5co-projects-overlay">
                                    <h3 class="from-top">梦幻婚礼 <span class="category">弹幕霸屏</span></h3>
                                    <div class="fh5co-projects-action from-bottom">
                                        <a href="~/wwwroot/images/new/project_7.jpg" class="goto-preview image-popup"><i class="ti-zoom-in"></i></a>
                                        <a href="single-portfolio.html" class="goto-details"><i class="ti-share"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-img">
                                <figure>
                                    <img src="~/wwwroot/images/new/project_8.jpg" alt="Project Title here">
                                </figure>
                                <div class="fh5co-projects-overlay">
                                    <h3 class="from-top">梦幻婚礼 <span class="category">弹幕祝福</span></h3>
                                    <div class="fh5co-projects-action from-bottom">
                                        <a href="~/wwwroot/images/new/project_8.jpg" class="goto-preview image-popup"><i class="ti-zoom-in"></i></a>
                                        <a href="single-portfolio.html" class="goto-details"><i class="ti-share"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <div class="hover-img">
                                <figure>
                                    <img src="~/wwwroot/images/new/project_9.jpg" alt="Project Title here">
                                </figure>
                                <div class="fh5co-projects-overlay">
                                    <h3 class="from-top">梦幻婚礼 <span class="category">弹幕祝福</span></h3>
                                    <div class="fh5co-projects-action from-bottom">
                                        <a href="~/wwwroot/images/new/project_9.jpg" class="goto-preview image-popup"><i class="ti-zoom-in"></i></a>
                                        <a href="single-portfolio.html" class="goto-details"><i class="ti-share"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-img">
                                <figure>
                                    <img src="~/wwwroot/images/new/project_10.jpg" alt="Project Title here">
                                </figure>
                                <div class="fh5co-projects-overlay">
                                    <h3 class="from-top">梦幻婚礼 <span class="category">弹幕祝福</span></h3>
                                    <div class="fh5co-projects-action from-bottom">
                                        <a href="~/wwwroot/images/new/project_10.jpg" class="goto-preview image-popup"><i class="ti-zoom-in"></i></a>
                                        <a href="single-portfolio.html" class="goto-details"><i class="ti-share"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <section class="fh5co-section" id="fh5co-workwithus">
                <div class="container">
                    <div class="fh5co-workwithus-intro">
                        <h2>有什么更好的想法，可以给我们留言</h2>
                        <h3 class="has-btn-after"></h3>
                        <p><a href="/Contact/Contact" class="btn btn-primary btn-lg btn-uppercase btn-effect">联系我们<i class="ti-angle-right"></i></a></p>
                    </div>
                </div>
            </section>

            <div class="container" id="fh5co-journal">
                <div class="row">
                    <div class="col-md-12">
                        <div class="fh5co-heading text-center">
                            <h2 class="fh5co-heading-title">营销记录<span class="border"></span></h2>
                            <h3 class="fh5co-heading-intro">上千个婚庆公司已经接入阖家缘，遍布全国各大中小城市</h3>
                        </div>
                    </div>
                </div>
                <!-- END .row -->

                <div class="row">
                    <div class="owl-carousel-posts">
                        @*<div class="item">
                            <div class="fh5co-image-text">
                                <a href="#" class="fh5co-block-links hover-img">
                                    <figure>
                                        <img src="~/wwwroot/images/new/project_2.jpg" alt="Post Title" class="img-responsive">
                                        <div class="dark-overlay"></div>
                                    </figure>
                                    <h2 class="meta-after">My New Minimal Workspace </h2>
                                    <span class="meta text-after">Dec. 1, 2014</span>
                                    <p>Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints</p>
                                    <p><span class="learn-more">Read more</span></p>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="fh5co-image-text">
                                <a href="#" class="fh5co-block-links hover-img">
                                    <figure>
                                        <img src="~/wwwroot/images/new/project_3.jpg" alt="Post Title" class="img-responsive">
                                        <div class="dark-overlay"></div>
                                    </figure>
                                    <h2 class="meta-after">Camera Lenses!</h2>
                                    <span class="meta text-after">Nov. 24, 2014</span>
                                    <p>Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints</p>
                                    <p><span class="learn-more">Read more</span></p>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="fh5co-image-text">
                                <a href="#" class="fh5co-block-links hover-img">
                                    <figure>
                                        <img src="~/wwwroot/images/new/project_1.jpg" alt="Post Title" class="img-responsive">
                                        <div class="dark-overlay"></div>
                                    </figure>
                                    <h2 class="meta-after">Best Clothes this Season</h2>
                                    <span class="meta text-after">Dec. 4, 2014</span>
                                    <p>Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints</p>
                                    <p><span class="learn-more">Read more</span></p>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="fh5co-image-text">
                                <a href="#" class="fh5co-block-links hover-img">
                                    <figure>
                                        <img src="~/wwwroot/images/new/project_2.jpg" alt="Post Title" class="img-responsive">
                                        <div class="dark-overlay"></div>
                                    </figure>
                                    <h2 class="meta-after">My New Minimal Workspace </h2>
                                    <span class="meta text-after">Dec. 1, 2014</span>
                                    <p>Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints</p>
                                    <p><span class="learn-more">Read more</span></p>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="fh5co-image-text">
                                <a href="#" class="fh5co-block-links hover-img">
                                    <figure>
                                        <img src="~/wwwroot/images/new/project_3.jpg" alt="Post Title" class="img-responsive">
                                        <div class="dark-overlay"></div>
                                    </figure>
                                    <h2 class="meta-after">Camera Lenses!</h2>
                                    <span class="meta text-after">Nov. 24, 2014</span>
                                    <p>Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints</p>
                                    <p><span class="learn-more">Read more</span></p>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="fh5co-image-text">
                                <a href="#" class="fh5co-block-links hover-img">
                                    <figure>
                                        <img src="~/wwwroot/images/new/project_1.jpg" alt="Post Title" class="img-responsive">
                                        <div class="dark-overlay"></div>
                                    </figure>
                                    <h2 class="meta-after">Best Clothes this Season</h2>
                                    <span class="meta text-after">Dec. 4, 2014</span>
                                    <p>Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints</p>
                                    <p><span class="learn-more">Read more</span></p>
                                </a>
                            </div>
                        </div>*@
                        <div class="item">
                            <div class="fh5co-image-text">
                                <a href="#" class="fh5co-block-links hover-img">
                                    <figure>
                                        <img src="~/wwwroot/images/new/project_2.jpg" alt="Post Title" class="img-responsive">
                                        <div class="dark-overlay"></div>
                                    </figure>
                                    <h2 class="meta-after">西方婚礼</h2>
                                    <span class="meta text-after">2016-5-10</span>
                                    <p>婚礼现场阖家缘引爆全场浪漫</p>
                                    <p><span class="learn-more">Read more</span></p>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="fh5co-image-text">
                                <a href="#" class="fh5co-block-links hover-img">
                                    <figure>
                                        <img src="~/wwwroot/images/new/project_3.jpg" alt="Post Title" class="img-responsive">
                                        <div class="dark-overlay"></div>
                                    </figure>
                                    <h2 class="meta-after">梦幻的婚礼</h2>
                                    <span class="meta text-after">2017-10-5</span>
                                    <p>每一个女孩都会幻想自己未来的婚礼是什么样，希望未来的另一半能给自己一个浪漫、温馨、甜蜜、难忘的婚礼。Hi现场愿意与每一个为爱努力、规划的人同行，努力为他们打造一场别开生面的婚礼。阖家缘告诉你，婚礼祝福可以与活动、表情同步</p>
                                    <p><span class="learn-more">Read more</span></p>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="fh5co-image-text">
                                <a href="#" class="fh5co-block-links hover-img">
                                    <figure>
                                        <img src="~/wwwroot/images/new/project_1.jpg" alt="Post Title" class="img-responsive">
                                        <div class="dark-overlay"></div>
                                    </figure>
                                    <h2 class="meta-after">跨国婚礼</h2>
                                    <span class="meta text-after">2015-7-14</span>
                                    <p>国际友人赢取了我们美丽的中国姑娘，还说什么呢，快快祝福吧。</p>
                                    <p><span class="learn-more">Read more</span></p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END .row -->

            </div>

            <section class="fh5co-section" id="fh5co-testimonial">
                <i class="ti-quote-left quote-icon"></i>
                <div class="container">
                    <div class="owl-carousel-fullwidth">
                        <div class="item">
                            <p class="text-center quote">永远不要跟别人比幸运，我从来没想过我比别人幸运，我也许比他们更有毅力，在最困难的时候，他们熬不住了，我可以多熬一秒钟、两秒钟。 <cite class="author">&mdash; 马云</cite></p>
                        </div>
                        <div class="item">
                            <p class="text-center quote">世界上唯一可以不劳而获的就是贫穷，唯一可以无中生有的就是梦想。世界虽然残酷，但只要你愿意走，总会有路。<cite class="author">&mdash; 刘强东</cite></p>
                        </div>
                        <div class="item">
                            <p class="text-center quote">不被嘲笑的梦想是不值得被实现的<cite class="author">&mdash; 罗永浩</cite></p>
                        </div>
                    </div>
                </div>
            </section>

        </main>
        @{
            Html.RenderPartial("~/Views/_Base/_BaseFoot.cshtml");
        }

    </div>

</body>
</html>
